.home{
    background: url('https://image.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    width: 100%;
}

