.singlePost{
    background : url('https://image.freepik.com/free-vector/acrylic-paint-pour-background-vector_53876-77818.jpg');
    height: max-content;
    background-size: contain;
    width: 100%;
}